@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  background-color: #000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  overflow: hidden;
  position: relative;
  width: 280px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  text-align: center;
}

.button__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: #4973ff;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.button__text {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  font-family: Verdana;
  font-size: 50px;
  z-index: 1;
  position: relative;
}

.button__waves:after,
.button__waves:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
          transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.button__waves:before {
  background-color: #000;
  border-radius: 48%;
  -webkit-animation: waves 5s infinite linear;
          animation: waves 5s infinite linear;
}

.button__waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
}

.button:hover .button__waves {
  top: -100%;
}

.button:hover.button {
  border-radius: 10px 10px;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
/*# sourceMappingURL=style.css.map */